@font-face {
    font-family: "HelveticaNeu";
    src: url("../fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeuBold";
    src: url("../fonts/HelveticaNeuBold.ttf") format("truetype");
}

